.conteneur-flexible{
    display: flex;
    align-items: top;
    align-items: left;
    justify-content: space-around;
    align-content: space-around;
    box-sizing: border-box;
}
.side{
    margin: 0px -10px;
}
.ligne{
    flex-flow: row wrap;
}
.menu-flexible{
    background-color: rgb(214, 214, 214);
    flex-grow: 1;
}
.element-flexible{
    flex: 1 0 auto;
    flex-grow: 9;
}